<h1>Image Save</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="ImageSave">

    <input type="file" name="image"/>
    <button type="submit">Submit</button>
</form>